@import bourbon
@import normalize
@import pygments-railscasts

@import url(http://fonts.googleapis.com/css?family=Give+You+Glory|Pacifico|Quando)

$orange: #ff8000

$border-color: $orange
$code-bg: #2b2b2b
$code-fg: #e6e1dc
$link-color: blue
$page-bg: white
$small-color: #666
$current-tag-color: $orange
$tag-color: black
$text-color: #333
$thing-bg: white

body
  background-color: $page-bg
  font: 13pt $helvetica

a
  color: $link-color
  text-decoration: none

header
  text-align: center

footer
  padding: 4em 0
  text-align: center

  .signature
    color: $orange
    font: 1.2em 'Pacifico' cursive

h1
  color: black
  font: 2em 'Give You Glory' cursive

h2#byline
  font: 0.8em 'Quando' serif
  margin: -2.5em 0 2em 3em
  a
    background-color: $orange
    color: white
    padding: 0.2em

.tags
  list-style-type: none
  text-align: center
  white-space: normal

  li
    display: inline-block
    margin: 0.25em

  a, span
    color: white
    display: inline-block
    font: 1em 'Quando' serif
    padding: 0.25em

  a
    background: $tag-color

    &:hover
      background: $current-tag-color

  span
    background: $current-tag-color

.index
  background-color: $border-color
  border-top: 1px solid transparent
  border-bottom: 1px solid transparent

  .row
    background-color: $thing-bg
    margin: 0.25em 0
    padding: 1em

  .title
    overflow: hidden
    text-overflow: ellipsis

  .tags
    display: inline-block
    float: left
    font: 0.8em 'Quando' serif
    margin: 0
    padding: 0

    li
      border: 1px solid black
      margin: 0 0.5em 0 0
      padding: 0.25em

  a
    color: $text-color

.thing
  margin-bottom: 2em

  .body
    background: $thing-bg
    border-bottom: 0.25em $border-color solid
    border-top: 0.25em $border-color solid
    padding: 0.5em

    img
      display: block
      margin: 0 auto
      max-width: 100%

  .tags
    display: inline-block
    float: left
    margin: 0
    padding: 0

small, small > a
  color: $small-color
  display: block
  margin: 0.5em

.back
  text-align: left

.timestamp
  text-align: right

p, pre
  margin: 1em 0

code, pre
  background: $code-bg
  border-radius: 0.25em
  color: $code-fg
  font-face: $monospace

code
  margin: 0 0.25em 0 0
  padding: 0.125em 0.25em

pre
  padding: 0.25em

.error
  font-family: 'Quando' serif
  padding: 3em 0
  text-align: center

@media all and (min-width: 641px)
  body
    font: 16pt $helvetica

@media all and (min-width: 961px)
  .wrapper
    background: white
    margin: 0 auto
    max-width: 960px
    padding: 1em

  h1
    font-size: 3em

  .index
    .row
      margin: 0.25em

  .thing
    .body
      border: 0.25em $border-color solid
      padding: 0 1em

@media all and (min-width: 1281px)
  body
    font: 18pt $helvetica

  .wrapper
    max-width: 1080px
